<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Novo Pedido</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Criar Novo Pedido</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="status">Status:</label>
        <select name="status" id="status" required>
            <option value="open">Aberto</option>
            <option value="canceled">Cancelado</option>
            <option value="paid">Pago</option>
        </select>

        <label for="total_preco">Total:</label>
        <input type="number" name="total_preco" id="total_preco" step="0.01" required>

        <button type="submit">Criar Pedido</button>
    </form>
    <a href="{% url 'pedidos_list' %}">Voltar para a lista de pedidos</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>